<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<button type="button" class="transfer">传递日志</button>
<button type="button" class="logs">输送日志</button>
</body>
</html>
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    $('.transfer').click(function () {
        $.ajax({
            type: 'GET',
            url: '/logs',
            data: {'name': 'yangjiajia'}
        })
    });

    $('.logs').click(function () {
        $.ajax({
            type: 'GET',
            url: '/logs/info',
            data: {'name': 'yangjiajia'}
        })
    });
</script>
